<mat-toolbar color="primary">
  <span>Aptidão Professores e Matérias</span>
</mat-toolbar>


<div class="container">
  <section class="column">
    <mat-tab-group (selectedTabChange)="clear()">
      <mat-tab label="Professores"> 
        <ul *ngIf="professores?.length > 0" class="list-click">
          <li *ngFor="let professor of professores" (click)="clickProfessor(professor)">
            <div class="list-img">
              <img src="{{professor.foto}}" alt="Foto do Professor">
            </div>
            <p> {{ professor.nome }}</p>           
          </li>
        </ul>
      </mat-tab>
      <mat-tab label="Matérias"> 
        <ul *ngIf="materias?.length > 0" class="list-click">
          <li *ngFor="let materia of materias" (click)="clickMateria(materia)">
            <div class="list-img">
              <img src="{{materia.img}}" alt="Icone materia">
            </div>
            <p>{{ materia.nome }}</p>            
          </li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </section>
  <section class="column">
    <mat-toolbar *ngIf="titulo">
      <span>{{titulo}}</span>
    </mat-toolbar>
    <ul *ngIf="listaResposta?.length > 0" class="list">
      <li *ngFor="let resposta of listaResposta">{{ resposta }}</li>
    </ul>
  </section>
</div>

